.button-container{
  height: auto;
  width: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  right: 50px;
  top: 25px;
  z-index: 50;
}

.line{
  height: 7px;
  width: 50px;
  background: #001b44;
  margin: 3px 0;
  pointer-events: none;
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 
  left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.3s;
}

.to-bottom{
  transform: translateY(15px);
  background-color: white;
}

.set-color {
  background: #fff;
}

.to-top{
  transform: translateY(-15px);
  background-color: white;
}
