.navbar {
  height: 80px;
}

.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100%;
  background-color: black;
}

.menu-button{
  width: auto;
  height: 100%;
}