:root{
  --menu-width: 300px;
}

*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
}

.wrapper{
  padding-left: 50px;
  padding-right: 50px;
  height: inherit;
  width: 100%;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  /* position: relative; */
}

.item{
  cursor: pointer;
  box-sizing: border-box;
  border: 1px dashed gray;
  /* position: absolute; */
}

.over{
  /* background-color: #fd5e30; */
  background-color: goldenrod;
  cursor: move;
}